.createComment{
    margin-top: 10px;
    padding: 10px 17px;
    display: flex;
    align-items: center;
}

.createComment img{
    width: 25px;
    border-radius: 50%;
}
.createComment .inputBox{
    width: 95%;
    margin-left: 10px;
    color: var(--text-sec-color);
    position: relative;
}
.createComment input{
    width: 100%;
    padding: 7px 18px;
    background-color: var(--input-background-color);
    outline: transparent;
    border: none;
    border-radius: 12px;
    color: var(--text-sec-color);
    font-size: 14px;
    
}
.createComment .icon{
    position: absolute;
    right: 10px;
    top: 7px;
    cursor: pointer;
}