.homeMain{
    display: flex;
    width: 80%;
    position: fixed;
    right: 0px;
}


.rightBar{
    width: 100%;
}
.rightBar .navbar{
    width: 100%;
    height: 60px;
    background-color: var(--sidebar-cards-color);
    border-bottom: 0.1px solid var(--selected-tab-color);
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.homeArea{
    display: flex;
    height: 90%;
   
}
.postContainer{
    width: 70%;
    height: 90vh;
    margin-top: 55px;
    overflow-y: scroll;
    padding-bottom: 100px;
    /* z-index: -1; */
}
.rightCol{
    margin-top: 55px;
}


/* responsive */
@media screen and (max-width: 1050px) {
    .postContainer{
        height: 95vh;
    }
}

@media screen and (max-width: 800px){
    .sidebar, .rightBar .navbar{
        display: none;
    }
    .rightBar{
        width: 100%;

       
    }
    .postContainer{
       width: 100%;
       margin: auto;
       height: 100vh;
    }
    .homeMain{
        width: 100%;

    
    }
}