.homeMain{
    display: flex;
    width: 80%;
    position: fixed;
    right: 0px;
    z-index: -1;
}


.rightBar{
    width: 100%;
}

.homeArea{
    display: flex;
    height: 90%;
    z-index: -1;
   
}
.postContainer{
    width: 70%;
    height: 100vh;
    margin-top: 55px;
    overflow-y: scroll;
    padding-bottom: 100px;
    /* z-index: -1; */
}
.rightCol{
    margin-top: 55px;
}


/* responsive */
@media screen and (max-width: 1050px) {
    .postContainer{
        height: 95vh;
    }
}

@media screen and (max-width: 800px){
    .sidebar, .rightBar .navbar{
        display: none;
    }
    .rightBar{
        width: 100%;

       
    }
    .postContainer{
       width: 100%;
       margin: auto;
       height: 100vh;
    }
    .homeMain{
        width: 100%;

    
    }
}